name: CI

on: [push, pull_request]

jobs:
  build_debian_based:
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            "ubuntu:25.10",
            "ubuntu:25.04",
            "ubuntu:24.04",
            "ubuntu:22.04",
            "debian:12",
            "debian:13",
            "linuxmintd/mint22-amd64",
            "linuxmintd/mint21-amd64",
          ]
    runs-on: ubuntu-latest
    container: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt install -y pkg-config
          apt install -y clang
          apt install -y cmake extra-cmake-modules gettext libfmt-dev
          apt install -y fcitx5 libfcitx5core-dev libfcitx5config-dev libfcitx5utils-dev fcitx5-modules-dev
          apt install -y libicu-dev libjson-c-dev
      - name: Install Build Essential
        if: matrix.os == 'ubuntu:25.10'
        run: |
          apt install -y build-essential
      - name: Build
        run: |
          cmake -B build -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug # use Debug for easy debugging with gdb
          cmake --build build                                                 # or ninja, depending on your system
      - name: Test
        run: |
          cd build
          ctest --output-on-failure

  build_archlinux:
    runs-on: ubuntu-latest
    container: archlinux:base-devel

    steps:
      - uses: actions/checkout@v5
      - name: Update pacman mirror list
        run: |
          pacman -Syy
          pacman -Sy --noconfirm --needed reflector
          reflector --verbose --country 'United States' --latest 20 --protocol https --age 24 --sort rate --save /etc/pacman.d/mirrorlist
          cat /etc/pacman.d/mirrorlist
      - name: Install dependencies
        run: |
          pacman -Syy
          pacman -Sy --noconfirm cmake extra-cmake-modules git fcitx5 fmt
      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug
          make
      - name: Test
        run: |
          cd build
          ctest --output-on-failure

  build_fedora:
    strategy:
      fail-fast: false
      matrix:
        os: ["fedora:42", "fedora:41", "fedora:40", "fedora:39"]
    runs-on: ubuntu-latest
    container: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          dnf -y install gcc g++
          dnf -y install fcitx5 fcitx5-configtool fcitx5-devel \
                 cmake extra-cmake-modules gettext fmt-devel \
                 libicu-devel json-c-devel
      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug
          make
      - name: Test
        run: |
          cd build
          ctest --output-on-failure

  build_manjaro:
    runs-on: ubuntu-latest
    container: manjarolinux/base:latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          pacman -Sy --noconfirm archlinux-keyring
          pacman -Sy --noconfirm gcc cmake make pkg-config extra-cmake-modules fmt fcitx5 fcitx5-chinese-addons fcitx5-gtk fcitx5-qt
      - name: Build
        run: |
          mkdir -p build
          cd build
          cmake ../ -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug
          make
      - name: Test
        run: |
          cd build
          ctest --output-on-failure
